<div class="background">
  <div class="controls">
    <a class="navbar-brand">
      <img src="assets/suzu0.png" class="logo" alt="" srcset="">
      Suzu
    </a>
      Nodos: <input class="form-control fomulario" type="number" [(ngModel)]="NNodos">
      <button class="btn btn-outline-dark fomulario" (click)="generar()">GENERAR</button>
  </div>
</div>

<div class="log" [innerHtml]="log" (mouseover)="blurDiagram()" (mouseout)="restoreAll()"></div>

<div class="nodo" *ngFor="let nodo of nodos; index as i" [ngStyle]="{
  'width': nodo.size + 'px',
  'height': nodo.size + 'px',
  'top': nodo.top + 'px',
  'left': nodo.left + 'px',
  'border-radius': nodo.radius + 'px',
  'border-width': nodo.border + 'px',
  'background-color': nodo.bgcolor,
  'font-size': nodo.font + 'px',
  'padding': nodo.padding + 'px',
  'opacity': nodo.opacidad
  }" id="nodo.value" (mouseover)="blurAll(nodo.posicion)" (mouseout)="restoreAll()">
  {{ nodo.value }}
</div>

<div class="arista" *ngFor="let arista of aristas; index as i" [ngStyle]="{
  'width': arista.width + 'px',
  'height': arista.height + 'px',
  'transform': 'rotate(' + arista.angle + 'deg)',
  'top': arista.top + 'px',
  'left': arista.left + 'px',
  'border-width': arista.border + 'px',
  'background-color': arista.bgcolor,
  'font-size': arista.font + 'px',
  'transform-origin': '0 0',
  'opacity': arista.opacidad
  }">
  {{ arista.value }}
</div>

